*{
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    font-size: 18px;
    height: 40px
}
nav{
    cursor: pointer;
}
.ite{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
}
.item{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.container{
    border: 1px solid grey;
    border-radius: 7px;
    font-family: monospace;
    justify-content: center;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    background-color: lightgray;
}
.item:hover{
    background-color: #eee;
}
.item,.container{
    display: flex;
    flex-direction: column;
    justify-items:baseline;
}
